.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

.App-title {
  font-family: 'Karla';
  font-weight: bold;
  color: #289c7d;
}

